{% extends 'TSMinesweeperBundle::partial_base.html.twig' %}

{% block navcolumn %}
    <div ng-controller="LobbyCtrl">
        <div>
            <header>Players</header>
            <ul id="user-list">
                {% verbatim %}
                <li ng-repeat="user in users">
                    <a href="#/users/{{ user.id }}">{{ user.name }} ({{ user.games.won.length }} - {{ user.games.lost.length }})</a>
                    <span class="actions">
                        <button class="new-game">Play!</button>
                    </span>
                </li>
                {% endverbatim %}
            </ul>
        </div>

        {% include 'TSMinesweeperBundle:Partial:chat.html.twig' with {'section': 'lobby'} only %}
    </div>
{% endblock %}

{% block maincolumn %}
    <div>
        <header>Your games</header>
        {% verbatim %}
        <ul id="game-list">
            <li ng-repeat="game in games">
                <a href="{{ '#/games/' + game.id }}">
                    <span class="game-player" ng-repeat="player in game.players">
                        {{ player.name }}: {{ player.score }}
                    </span>
                </a>
            </li>
        </ul>
        {% endverbatim %}
    </div>
{% endblock %}
