{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets 'bundles/tsminesweeper/css/main.css' filter='cssrewrite' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block navcolumn %}
{% trans %}Hello{% endtrans %} {{ globals.user.name }}!
<div id="chat"></div>
<form id="form-chat">
    <input type="text" id="text" autocomplete="off" />
    <input type="submit" id="send" class="btn btn-default" value="{% trans %}Send{% endtrans %}" />
</form>
{% endblock %}

{% block maincolumn %}
<table id="board" class="table">
    {% for i in 0..15 %}
    <tr>
        {% for j in 0..15 %}
        <td class="board-cell enabled" data-row="{{ i }}" data-col="{{ j }}"></td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block javascripts %}
<script>var globals = JSON.parse('{{ globals|json_encode|raw }}');</script>
{% endblock %}
