{% extends 'TSAngularJSBundle::angular_base.html.twig' %}

{% block app_name %}minesweeperApp{% endblock %}

{% block title %}{% trans %}Minesweeper{% endtrans %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">

    {% stylesheets '@TSMinesweeperBundle/Resources/public/less/*' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>var loggedUser = JSON.parse('{{ user|json_encode|raw }}');</script>

    {# FoS JS Routing #}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>

    {% javascripts '@TSMinesweeperBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div id="container" ng-view class="view-animation"></div>
{% endblock %}
