{% extends 'TSAngularJSBundle::angular_base.html.twig' %}

{% block app_name %}minesweeperApp{% endblock %}

{% block title %}{% trans %}Minesweeper{% endtrans %}{% endblock %}

{% block stylesheets %}
    <link href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>

    {% stylesheets '@TSMinesweeperBundle/Resources/public/css/*' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}

    {% stylesheets '@TSMinesweeperBundle/Resources/public/less/*' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# FoS JS Routing #}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script src="{{ asset('js/jquery.js') }}"></script>

    {% javascripts  '@TSMinesweeperBundle/Resources/public/js/controllers.js'
                    '@TSMinesweeperBundle/Resources/public/js/app.js'
        output='js/minesweeper.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div id="container" ng-view class="view-animation"></div>
{% endblock %}
