<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% trans %}Minesweeper{% endtrans %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    {% javascripts '@TSMinesweeperBundle/Resources/public/js/game.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>var globals = JSON.parse('{{ globals|json_encode|raw }}');</script>
</body>
</html>
