{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error|trans }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" placeholder="Username" required autofocus />
        <input type="password" id="password" class="form-control" name="_password" placeholder="Password" required />

        <label for="remember_me" class="checkbox">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            {{ 'security.login.remember_me'|trans }}
        </label>

        <input type="submit" id="_submit" class="btn btn-lg btn-primary btn-block" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </form>
{% endblock fos_user_content %}
